header {
    background-color: rgb(39, 37, 37);
    font-weight: bold;
    position: sticky;
    padding: 1.5rem;
    margin-bottom: 2rem;
    top: 1rem;
    border-radius: 1rem;
    max-width: 80%;
    min-width: 600px;
    margin-inline: auto;
}

header ul {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 6rem;
    list-style: none;
}

li {
    width: 150px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

li:hover {
    background-color: cadetblue;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

